.home-page{
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top:10vh;
    padding-bottom: 10vh;
}

.row-container{
    align-items: center;
}

.input-link{
    width: 55vw;
}

.top-margin{
    margin-top: 2.5vh !important;
}

.error-message{
    color:red;
}